body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerArea{
  background-color: rgb(118, 0, 67);
  color: white;
}

.headerMenu{
background-color: rgb(231, 231, 231);
padding: 10px;
}

.headerMenu li{
  display: inline-block;
  padding: 10px;
  background-color: rgb(177, 0, 100);
  margin-right: 10px;
  border-radius: 5px;
  color: white;
}

.headerMenu li.pink{
  background-color: #ffffff;
  color: #2d2d2d;
  border: 2px solid #ff3f78;
  display: flex;
}



.App{
  margin:auto;
  width:90%
}

.footerArea{
  padding: 20px;
  background-color: #333;
  text-align: center;
  color: white;
}

.pageContent{
  padding: 30px;
}

.starIcon{
  display: inline-block!important;
}

.orderListItem li{
  padding: 10px!important;
}

.orderListItem:hover li{
    background-color: #dfdfdf;
}

.columnTitle{
  font-weight: bold;
}
.productsGridItem{
  display: flex;
  align-items: center;
}

.orderInfoField{
  font-size: 18px;
  border: 1px solid #333;
}

